.container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  padding: 20px;
  border: 1px solid #ddd;
}

input {
  padding: 10px;
}

button {
  padding: 10px;
  background: green;
  color: white;
}